---
layout: blank
title: Servlets and JSPs
---

<style> p { font-family: "Lato", Helvetica, Arial, sans-serif;}</style>

<header role="banner" class="navbar navbar-default navbar-fixed-top bs-docs-nav">
  
    <div class="navbar-header">
      <button data-target=".bs-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand no-deco" href="/">Java Brains</a>
    </div>
    <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        
            <li><a href="/courses.html"> &nbsp; | &nbsp;Courses</a></li>
            
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/blog.html">Blog</a>
        </li>  
        <li>
          <a href="/about.html">About</a>
        </li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Connect <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="http://www.facebook.com/javabrains">Facebook</a></li>
          <li><a href="https://plus.google.com/101241060481722039118/posts">Google Plus</a></li>
          <li><a href="http://twitter.com/Java_Brains">Twitter</a></li>
          <li><a href="http://www.linkedin.com/in/koushiksrinivas">LinkedIn</a></li>   
          <li><a href="http://www.youtube.com/koushks">YouTube</a></li>       
          <li><a href="https://groups.google.com/d/forum/java-brains-group">Google Groups</a></li>    
        </ul>
      </li>
      </ul>
    </nav>

</header>
    
	<div class="cta">
		<div class="container">
			<div class="row">
				<h2 class="tech-name">Servlets and JSPs</h2>
			</div>

			<div class="row">
				<div class="col-md-4">
					<h3 class="demo-panel-title">About</h3>
				</div>
				<div class="col-md-8">
					<div class="demo-content">
						<p>Servlets and JSPs are Java technologies that allow server side programming in Java. Servlet containers facilitate running applications developed using the Servlet and JSP specifications. </p>
        	<p>The courses on this page cover various concepts related to Servlets and JSPs using Apache Tomcat as the servlet container. </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">

					<h3 class="demo-panel-title">Courses</h3>
				</div>
				<div class="col-md-8">
					<div class="demo-content">
						<div class="listing course-listing">
							<ul class="nav nav-list">
								<li class="nav-header">Servlets and JSPs</li>
								<li><a href="#servlets_intro"> Introduction to Servlets
                                    <span class="nav-counter">{{site.tags["servlets_intro"].size}}</span>
								</a></li>
                                <li><a href="#jsps_intro">Java Server Pages
                                    <span class="nav-counter">{{site.tags["jsps_intro"].size}}</span>
								</a></li>
								
								<li class="divider"></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<div class="cta gray">
		<div class="container">
			<a name="servlets_intro"></a>
			<div class="row">
				<h3 class="course-title">
					<span class="course-title-number">01.</span>Introduction to Servlets
				</h3>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="demo-title">
						<h3 class="demo-panel-title">Details</h3>
					</div>
				</div>
				<div class="col-md-8">
					<div class="demo-content">
						<p>This course provides an introduction to Java Servlet technology. You will learn how to develop Java web applications using Servlets. you will also understand the life cycle of Servlets, how they work and how to configure them.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="demo-title">
						<h3 class="demo-panel-title">Tutorials</h3>
					</div>
				</div>
				<div class="col-md-8">
					<div class="demo-content">
						<div class="row listing tut-listing">
							<ul class="nav nav-list">
								<li class="nav-header">Introduction to Servlets</li> {% assign course = site.tags["servlets_intro"] | sort: 'date' %} {% for tut in course %}
								<li><a href="{{tut.url}}"> <span class="glyphicon glyphicon-play"></span> {{forloop.index}}.&nbsp; {{tut.title}}
								</a></li> {% endfor %}
							</ul>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="cta">
		<div class="container">
			<a name="jsps_intro"></a>
			<div class="row">
				<h3 class="course-title">
					<span class="course-title-number">02.</span>Java Server Pages
				</h3>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="demo-title">
						<h3 class="demo-panel-title">Details</h3>
					</div>
				</div>
				<div class="col-md-8">
					<div class="demo-content">
						<p>This course covers writing and implementing Java Server Pages (JSPs) on a servlet container. You will understand what JSPs are, how they are related to servlets and how to write view logic using them.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="demo-title">
						<h3 class="demo-panel-title">Tutorials</h3>
					</div>
				</div>
				<div class="col-md-8">
					<div class="demo-content">
						<div class="row listing tut-listing">
							<ul class="nav nav-list">
								<li class="nav-header">Java Server Pages</li> {% assign course = site.tags["jsps_intro"] | sort: 'date' %} {% for tut in course %}
								<li><a href="{{tut.url}}"> <span class="glyphicon glyphicon-play"></span> {{forloop.index}}.&nbsp; {{tut.title}}
								</a></li> {% endfor %}
							</ul>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

