<!DOCTYPE html>
<html lang="en">
<head>
<title>Java Brains</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/jumbotron-narrow.css" rel="stylesheet">
<link href="/css/flat-ui.css" rel="stylesheet">
<link href="/css/jb-styles.css" rel="stylesheet">
<link href="/css/syntax.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

<style>
p {
  font-family: 'Lora', serif;
  color: #3A4145;
  font-size: 20px;
  padding: 5px;
  line-height: 1.4em;
  max-width: 900px;
}

.watch-next-text p {
  color: inherit;
}

</style>


</head>
<body>

  <div class="container">
    <div class="navbar nav-pills navbar-fixed-top navbar-default" id="topnavbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse clearfix topmenu">
          <ul class="nav navbar-nav nav-pills">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/courses.html">Courses</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="groups.html">Groups</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <!-- Header Title -->
  <section class="cta">
    <div class="page-header text-center Header">
      <h1>{{ site.name }}</h1>
    </div>
  </section>
  <!-- End Header Title -->



  <div class="site">


    {{ content }}



    <div class="mtl pbl">
      <div class="bottom-menu bottom-menu-inverse">
        <div class="container">
          <div class="row">
            <div class="span2 brand span-footer">
              <a class="fui-flat" href="#fakelink"></a>
            </div>

            <div class="span8 span-footer">
              <ul class="bottom-links">
                <li><a href="#fakelink">About</a></li>
                <li><a href="#fakelink">Community</a></li>
                <li><a href="#fakelink">Site</a></li>
                <li><a href="#fakelink">Follow</a></li>

                <li><a href="#fakelink">Links</a></li>
              </ul>
            </div>

            <div class="span2 span-footer">
              <ul class="bottom-icons">
                <li><a href="#fakelink"><img src="/img/facebook-32.png"></img></a></li>
                <li><a href="#fakelink"><img src="/img/googleplus-32.png"></a></li>
                <li><a href="#fakelink"><img src="/img/twitter-32.png"></a></li>
                <li><a href="#fakelink"><img src="/img/linkedin-32.png"></a></li>
               

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
