---
---
{% comment %} Find current course details {% endcomment %}
{% assign postTag = page.categories[1] %}
{% for course in site.data.courselist.course %}
    {% if course.tag == postTag %}
        {% assign courseName = course.name %}
        {% assign techName = course.tech %}
        {% assign courseUrl = course.url %}
        {% assign techUrl = course.techUrl %}
    {% endif %}
{% endfor %}


{% comment %} Find previous and next videos {% endcomment %}
{% assign firstVideo = true %}
{% assign prevVideo = page.previous %}
{% for i in (1..100) %}
    {% if prevVideo.categories[1] == postTag and prevVideo.layout == 'blank' and prevVideo.title != page.title %}
        {% assign firstVideo = false %}
        {% break %} 
    {% endif %}
    {% assign prevVideo = prevVideo.previous %}
{% endfor %}

{% assign lastVideo = true %}
{% assign nextVideo = page.next %}
{% for i in (1..100) %}
    {% if nextVideo.categories[1] == postTag and nextVideo.layout == 'blank' and nextVideo.title != page.title %}
        {% assign lastVideo = false %}
        {% break %} 
    {% endif %}
    {% assign nextVideo = nextVideo.next %}
{% endfor %}


{% comment %} Find position of current, prev and next videos, to show sl numbers {% endcomment %}
{% assign course1 = site.categories[postTag] | where:"layout","blank" | sort: 'date' %}
{% for tut in course1 %}
    {% capture mainTutPageUrl %}{{ page.url | replace_first:'/content/','/tutorials/' }}{% endcapture %}
    {% if tut.url contains mainTutPageUrl %}
        {% if forloop.index < 10 %}
                {% capture videoNumber %} {{ forloop.index | prepend:'0' }}  {% endcapture %}
        {% else %}
            {% assign videoNumber = forloop.index %}
        {% endif %}
        {% if forloop.last %}
            {% assign lastVideo = true %}
        {% else %}
            {% if forloop.index < 9 %}
                {% capture nextVideoNumber %} {{ forloop.index | plus:1 | prepend:'0' }}  {% endcapture %}
            {% else %}
                {% assign nextVideoNumber = forloop.index | plus:1 %}
            {% endif %}
    	{% endif %}
    	{% if forloop.first %}
            {% assign firstVideo = true %}
        {% else %}
            {% if forloop.index0 < 10 %}
                {% capture prevVideoNumber %} {{ forloop.index0 | prepend:'0' }}  {% endcapture %}
            {% else %}
                {% assign prevVideoNumber = forloop.index0 %}
            {% endif %}
    	{% endif %}
    {% endif %}
{% endfor %}
                                     
<header class="text-center">
    <div style="max-width:30%;margin:auto">
        <span id="topic-link-span" class="dd"><a id="topic-link" href="{{courseUrl}}">{{courseName}}</a></span>
    </div>
    <h1 class="video-number">{{videoNumber | remove: ' '}}</h1>

    <h1 id="tut-title"  class="no-margin">{{ page.title }}</h1>

</header>
<div class="post-body">
    {{ content }}
</div>

<div id="prevnext">
<nav class="nav-growpop">
    {% unless firstVideo %}
        <a class="prev" href="{{prevVideo.url}}">
            <span class="icon-wrap fa fa-arrow-left"></span>
            <div>
                <span>Previous</span>
                <p>{{prevVideoNumber}}</p>
                <h3>{{prevVideo.title}}</h3>


            </div>
        </a>
    {% endunless %}
     {% unless lastVideo %}
        <a class="next" href="{{nextVideo.url}}">
            <span class="icon-wrap fa fa-arrow-right"></span>
            <div>
                <span>Next</span>
                <p>{{nextVideoNumber}}</p>
                <h3>{{nextVideo.title}}</h3>


            </div>
        </a>
    {% endunless %}
    </nav>
</div>
